@page  "/Cto"

<section id="job-posting">
    <div class="container">
        <div class="row">
            <div class="col"><h1 class="h2">Careers</h1></div>
        </div>
    </div><div class="container pt-4">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="h3 pb-1">Chief Technology Officer (CTO)</h2>
                <p class="justify">
                    Cultivate Agricultural Intelligence, LLC (CAI) is seeking a Chief Technology Officer (CTO) that will be responsible for oversight of short and long-term technical strategy, and providing high-level, forward-thinking vision. This person will perpetually refine, redefine (as necessary), and lend support to all aspects of the company's technological development. The ideal candidate is a technical leader with demonstrable expertise in leading and managing the creation of first-in-class digital products, including a full SaaS development cycle. This person must have robust experience working, and familiarity with GIS products.
                </p>
                <p class="justify">
                    The CTO will work across all key departments to attain the company's strategic goals, including setting business requirements, assessing and improving application architecture, and ensuring the implementation of market-leading design. They will communicate with staff, executives, and customers to ensure the company’s technologies are used appropriately and optimally.
                </p>
                <p class="justify">
                    Proven experience packaging open source technology for use within enterprise and/or consumer applications is essential, as is the ability to effectively translate technical terminology to all stakeholders. This person should be visionary, understand industry-wide best practices and current innovations, and display credibility and excitement - particularly in lending expertise to a high-performing and expanding team.
                </p>
                <h3 class="h6 pt-2">Responsibilities:</h3>
                <ul>
                    <li>
                        Organizes and monitors assigned area of GIS support including software development, integration, implementation, and maintenance in order to meet the users' requests and organizational needs.
                    </li>
                    <li>
                        Provide strategic guidance of all technology related decisions, including product roadmap, to maximize the company's future growth and profitability
                    </li>
                    <li>
                        Responsible for establishing uniformly high production and quality standards for programming and software development projects.
                    </li>
                    <li>
                        Act as the senior contact for all IT, software, hardware, integrations, and related solutions.
                    </li>
                    <li>
                        Coordination with CAI clients for the satisfactory delivery of all technical solutions (Mobile/Web) and client satisfaction.
                    </li>
                    <li>
                        Assist with establishment of project teams, complete software documentation and develop detailed architecture and work tasks to support technical solutions.
                    </li>
                    <li>
                        Develop integration path of software tools to be utilized in both customer-facing and backend analysis SaaS Platform.
                    </li>
                    <li>
                        Keeping confidential materials of the firm secure; discloses information about the firm only when appropriate.
                    </li>
                    <li>
                        Teaming with the other members of the firm’s senior management to advance the general interests of the firm.
                    </li>
                    <li>
                        Application development tasks to include functional requirements analysis, systems/application architecture development, programming, quality control and unit testing, and internal code documentation.
                    </li>
                    <li>Software architecture development and technology stack selection. </li>
                </ul>
                <h4 class="h6 pt-2">Requirements:</h4>
                <ul>
                    <li>
                        Recent demonstrated experience building and managing world-class technology platforms using open source software solutions; providing cloud-based SaaS solutions and professional services to enterprise clients (B2B)
                    </li>
                    <li>
                        Proficiency in .Net, Node.JS and JAVAScript
                    </li>
                    <li>
                        Expertise in front-end development for web, iOS, and Android,
                    </li>
                    <li>
                        Proficiency in at least one mobile application development framework.
                    </li>
                    <li>
                        Commercial Software Development experience in JavaScript, HTML5 & CSS3
                    </li>
                    <li>
                        Experience building hybrid and native mobile applications, and launching/taking commercial mobile apps to market
                    </li>
                    <li>
                        Superb communication skills and experience working with remote team members
                    </li>
                    <li>
                        Ability to actively communicate, inspire and motivate all levels of staff.
                    </li>
                    <li>
                        Ability to think and act strategically and proactively
                    </li>
                    <li>
                        Strong writing and presentation skills
                    </li>
                    <li>
                        Minimum of fifteen years of professional experience with minimum of five years’ experience managing tech teams
                    </li>
                    <li>
                        Ten years' progressively responsible experience in GIS
                    </li>
                    <li>Extensive Oracle, Microsoft and other system tool experience – C#, .Net and SQL.</li>
                </ul>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Application Information</h5>
                        <p>To apply for this position, please send a resume and cover letter to: <a href="mailto:info@5th-floor.com">info@5th-floor.com</a></p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Other Positions</h5>
                        <p><NavLink href="Senior_developer" class="btn btn-link" role="button">Senior Developer</NavLink></p>
                    </div>
                </div>
                <p class="mt-4"><NavLink href="/" class="btn btn-link" role="button">Home</NavLink></p>
            </div>
            <div class="row">
                <div class="col">
                    <em>
                        <small class="justify">
                            CAI is an Equal Opportunity Employer that does not discriminate on the basis of race, color, religion, gender, national origin, age, military service eligibility, veteran status, sexual orientation, marital status, disability, or any other protected class.
                        </small>
                    </em>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}