@page "/"

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col text-center"><h1>We're Hiring!</h1><p class="lead">Cultivate Agricultural Intelligence is seeking talent for the following key positions:</p></div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chief Technology Officer</h5>
                        <h6 class="card-subtitle mb-3">Orlando, FL</h6>
                        <NavLink href="Cto" class="card-link stretched-link">Read Full Description &rarr;</NavLink>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Senior Developer</h5>
                        <h6 class="card-subtitle mb-3">Orlando, FL</h6>
                        <a href="Senior_developer" class="card-link stretched-link">Read Full Description &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>