@page  "/Senior_developer"

<section id="job-posting">
    <div class="container">
        <div class="row">
            <div class="col"><h1 class="h2">Careers</h1></div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="h3 pb-1">Senior Developer</h2>
                <p class="justify">Cultivate Agricultural Intelligence, LLC (CAI) is seeking a full-time Senior Developer to create custom GIS tools and applications that will be leveraged in the agriculture industry. You will be providing full life cycle software development, technical analysis and direction for internal projects, and will work in a team-oriented environment developing, designing, and maintaining multiple projects.</p>
                <h3 class="h6 pt-2">Responsibilities:</h3>
                <ul>
                    <li>
                        Support development of SaaS platform software that includes capabilities classify data in a raster based geospatial environment, as well as incorporating any number of additional raster and/or vector data sets
                    </li>
                    <li>
                        Engage with relevant stakeholders and senior leadership to assess situational awareness needs and identify appropriate technical and scientific approaches to integrate software products into decision-making
                    </li>
                    <li>
                        Provide technical expertise on how geospatial systems can be integrated into existing data collection and monitoring systems, making them available for use in spatial analysis
                    </li>
                    <li>
                        Assist in the maintenance of developed SaaS Platform
                    </li>
                    <li>
                        Assist with application documentation, account management, technical support and application administration
                    </li>
                    <li>
                        Consult on issues related to SaaS platform, both web and mobile
                    </li>
                    <li>
                        Investigate and resolve problems encountered in development projects and, as appropriate, suggest modification to meet project objectives
                    </li>
                    <li>
                        Prepare technical guidelines for the use of the SaaS platform in an operations center for agriculture activities
                    </li>
                    <li>
                        Evaluate new and innovative geospatial, database, mobile, web, and IT technologies
                    </li>
                    <li>Other job duties as assigned</li>
                </ul>
                <h4 class="h6 pt-2">Requirements:</h4>
                <ul>
                    <li>
                        5-8 years of experience developing custom GIS tools and applications, including:<ul>
                            <li>
                                programming in .Net, HTML 5, Javascript, and Python
                            </li>
                        </ul>
                    </li>
                    <li>
                        ESRI Suite of software (ArcGIS Desktop, ArcGIS Pro, ArcGIS Server, ArcGIS Portal, ArcGIS Online)
                    </li>
                    <li>
                        SQL Server, Database Design, Data Validation, Metadata
                    </li>
                    <li>
                        Developing applications for deployment within the Amazon cloud environment
                    </li>
                    <li>
                        Creating custom widgets using the ArcGIS Javascript API
                    </li>
                    <li>
                        Creating custom connectors within the ARC GIS GeoEvent Processor
                    </li>
                    <li>Using GIS to develop and enhance a situational awareness picture, including: gathering, analyzing and validating various types of information pertinent to an incident, event or exercise to support hazard prediction, assessments and impacts.</li>
                </ul>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Application Information</h5>
                        <p>To apply for this position, please send a resume and cover letter to: <a href="mailto:info@5-floor.com">info@5-floor.com</a></p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Other Positions</h5>
                        <p><NavLink href="Cto" class="btn btn-link" role="button">Chief Technology Officer</NavLink></p>
                    </div>
                </div>
                <p class="mt-4"><NavLink href="/" class="btn btn-link" role="button">Home</NavLink></p>
            </div>
            <div class="row">
                <div class="col">
                    <em>
                        <small class="justify">
                            CAI is an Equal Opportunity Employer that does not discriminate on the basis of race, color, religion, gender, national origin, age, military service eligibility, veteran status, sexual orientation, marital status, disability, or any other protected class.
                        </small>
                    </em>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}